@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

.heading {
    font-family: 'Caprasimo', cursive;
    color: rgb(99, 64, 18);
}

.margin-x {
    margin: auto 1vw;
    cursor: pointer;
}